:root {
  --black: #121212;
  --white: #ffffff;

  --ligth-grey: #a59c9c;

  --nasa-blue: #0b3d91;
  --green: #669e76;
  --green-hover: #43684e;

  --background-color-dark: #1e1e1e;
  --background-color-white: #f3f2f2;
}
