.navBar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  z-index: 50;
  box-shadow: 0 2px 15px #5d5aff;
}

.hamburger {
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.hamburgerIcon {
  font-size: 24px;
}

.linksWrapper {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.linksWrapper li {
  cursor: pointer;
  font-weight: bold;
}

.logo {
  cursor: pointer;
}

:global(#light) {
  background-color: var(--background-color-white);
}

.icon {
  font-size: 50px;
}

.linksWrapper span {
  display: flex;
  align-items: center;
  gap: 10px;
}

:global(#light) .linksWrapper span {
  color: #d1cfcf;
}

.linksWrapper.openMenu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: var(--background-color-dark);
  padding: 2rem;
  z-index: 999;
  width: 300px;
  min-height: 100vh;
  box-shadow: -1px 6px 10px 2px #5d5aff;
}

.linksWrapper.openMenu li {
  padding: 2px;
  border-bottom: 2px solid var(--green);
}

@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }
  .linksWrapper {
    display: none;
  }
}
